.card {
  width: 210px;
  max-height: 88px;
  margin: 5px;
  background-color: #8e0c8e;
  color: white;
  transition: all 1s;

  div {
    font-size: 10px !important;
  }

  span {
    font-size: 15px !important;
  }

  mat-card-content {
    transform: scale(0);
  }
}

.card:hover {
  transform: scale(1.1);
  max-height: 400px;
  z-index: 999;

  mat-card-content {
    transform: scale(1);
  }
}

video {
  height: 120px;
  background-color: #2d2a2a;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

video:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.first {
  position: absolute;
  right: 8px;
  //top: 125px;
  top: -25px;

  mat-icon {
    margin: 5px;
    cursor: pointer;
  }

  .volume {
    position: absolute;
    top: -125px;
    right: 2px;
  }
}

.third {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

  mat-icon {
    margin: 5px;
    cursor: pointer;
  }

  .right {
    position: absolute;
    right: 8px;
  }
}


