<mat-card class="card">
  <video
    (mouseleave)="pause()" (mouseover)="play()" (click)="muted()"
    mat-card-image
    src="{{ url }}"
    poster='https://s3.eu-west-3.amazonaws.com/stream.roigle.com/tutut_1656096150703alex-sacui-dK2R_RHG0xI-unsplash.jpg'
    id="{{id}}"></video>

  <mat-card-content [ngClass]="step ? 'my_class1' : 'my_class2'">
    <div class="first">
      <mat-icon > play_circle_filled </mat-icon>
      <mat-icon> add_circle </mat-icon>

      <mat-icon (click)="muted()" *ngIf="isMute == false" class="volume"> volume_up </mat-icon>
      <mat-icon (click)="muted()" *ngIf="isMute == true" class="volume"> volume_off </mat-icon>
    </div>

    <div>
      <h3>C'est nous la saison 1</h3>
      <p>
        Une comédie dramatique composée d'un ensemble unique de personnages tous nés le même jour.
      </p>
    </div>

    <div class="third">
      <span class="annee">2021</span>
      <mat-icon> thumb_up_alt </mat-icon>
      <mat-icon> thumb_down_alt </mat-icon>
      <span class="age">16+</span>
      <mat-icon (click)="openBottomSheet()" class="right"> arrow_drop_down_circle </mat-icon>
    </div>

    <div>
      Drame . Comedie . Humour
    </div>
  </mat-card-content>
</mat-card>


