
<h1>Bienvenue sur le site d'éducation de Roigle'Academy</h1>
<h2>Pour suivre les cours, il vous faut un compte d'accès.</h2>

<div class="body">
  <mat-card>
    <mat-card-title>
      Vous ne disposez pas encore de compte
    </mat-card-title>

    <mat-card-content>
      Nous vous invitons à contacter l'administrateur l'adresse email ci-dessous ci-dessous : <br><br>
      roigle.info@gmail.com
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Vous disposez déjà d'un compte
    </mat-card-title>

    <mat-card-content>
      <p>
        Vous pouvez dès lors vous connecter au site de demande d'inscription grâce à votre adresse électronique et au
        mot de passe choisis antérieurement.
      </p>

      <form [formGroup]="form" >
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required appSetFocus>
            <mat-icon matSuffix class="icon">email</mat-icon>
            <mat-error class="field-error" *ngIf="form.get('email').hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="form.get('email').hasError('emailNotExist')">this email is not exist </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password"  [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error class="field-error" *ngIf="form.get('password').hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="form.get('password').hasError('badPassword')">bad password</mat-error>
          </mat-form-field>

          <app-button [name] = "'CONNEXION'" (click)="connexion()" [disabled]="form.pristine || form.invalid || form.pending"></app-button>
      </form>

    </mat-card-content>
  </mat-card>
</div>

