@keyframes rebound {
  0%   {
      width: 0;
      height: 0;
  }
  25%  {
      width: 6rem;
      height: 5.5rem;
  }
  50%  {
      width: 4rem;
      height: 3.6rem;
  }
  100% {
      width: 6rem;
      height: 5.5rem;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
