<div class="body">
  <div class="content" role="main">
    <h2>SHOOLS</h2>
    <p>Ici la liste des cours de cette classe</p>

    <div class="card-container">
      <app-uaa *ngFor="let uaa of uaas" [uaa]="uaa"></app-uaa>
    </div>
  </div>

  <div class="container">
    <app-video [id]="'1'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'2'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'3'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'4'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'5'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'6'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'7'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
    <app-video [id]="'8'" [url]="'https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4'"></app-video>
  </div>

</div>
