<mat-nav-list>
  <a mat-list-item
     [routerLink]="['/home']"
     [ngClass]="{'menu-actif':isActiveItemMenu('tableau-bord')}">
    {{ 'MENU.TABLEAU_DE_BORD' | translate }}
    <span class="material-icons">
        house
      </span>
  </a>
  <a mat-list-item [routerLink]="['/shools']"
     [ngClass]="{'menu-actif':isActiveItemMenu('shools')}" >
    {{ 'MENU.SHOOL' | translate }}
  </a>
  <a mat-list-item
     [routerLink]="['/students']"
     [ngClass]="{'menu-actif':isActiveItemMenu('students')}">
    {{ 'MENU.STUDENT' | translate }}
  </a>
  <a mat-list-item
     [routerLink]="['/uaas']"
     [ngClass]="{'menu-actif':isActiveItemMenu('uaas')}"
  >
    {{ 'MENU.UAA' | translate }}
  </a>
<!--  <a mat-list-item-->
<!--     [routerLink]="['/add-student']"-->
<!--     [ngClass]="{'menu-actif':isActiveItemMenu('add-student')}">-->
<!--    {{ 'MENU.ADD_STUDENT' | translate }}-->
<!--  </a>-->
<!--  <a mat-list-item-->
<!--     [routerLink]="['/add-level']"-->
<!--     [ngClass]="{'menu-actif':isActiveItemMenu('add-level')}">-->
<!--    {{ 'MENU.ADD_LEVEL' | translate }}-->
<!--  </a>-->
<!--  <a mat-list-item-->
<!--     [routerLink]="['/levels']"-->
<!--     [ngClass]="{'menu-actif':isActiveItemMenu('levels')}">-->
<!--    {{ 'MENU.LEVEL' | translate }}-->
<!--  </a>-->
<!--  <a mat-list-item-->
<!--     [routerLink]="['/add-uaa']"-->
<!--     [ngClass]="{'menu-actif':isActiveItemMenu('add-uaa')}">-->
<!--    {{ 'MENU.ADD_UAA' | translate }}-->
<!--  </a>-->
</mat-nav-list>
