<form id="editForm" class="form" [formGroup]="form" novalidate>
  <h1 class="header">{{(!isNew ? 'Edit existing' : 'Add a new') + ' user'}}</h1>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="First Data">
      <div class="form" >
        <mat-form-field>
          <input matInput placeholder="Pseudo" formControlName="name" required>
          <mat-error class="field-error" *ngIf="form.get('name').hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Picture">
      <div class="picture-container">
        <img class="img-responsive" [src]="picturePath" width="200">
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.gif">
      </div>

      <div class="picture-container">
        <video preload="auto" width="200">
          <source [src]="picturePathVideo" type="video/mp4">
        </video>
        <input type="file" (change)="fileChangeVideo($event)" placeholder="Upload file" accept=".mp4">
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="footer">
    <button type="submit" mat-button form="editForm"
            [disabled]="form.invalid"
            (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
    <button type="reset" mat-button (click)="cancel()">Cancel</button>
  </div>
</form>
