<mat-toolbar>
  <mat-toolbar-row>
    <div fxFill fxLayout="row" fxLayoutAlign="space-around center" class="header">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span class="app-menu-link" *ngIf="currentUser" (click)="inputSideNav.toggle()">
          <mat-icon >menu</mat-icon>
        </span>
        <span class="app-menu-link" [routerLink]='["/"]'>
          Roigle'Academy
        </span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center" *ngIf="currentUser" >
        <div class="header-menu">
          <span class="app-menu-link left">
            <a (click)="changeShowAppMenu($event)">
              <span class="material-icons" style="font-size: 35px; position: absolute; left: 90px; top: 10px;">
                account_circle
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
<!--    <app-info *ngIf="showAppMenu && currentUser"></app-info>-->
  </mat-toolbar-row>

  <mat-toolbar-row class="subheader" *ngIf="currentUser">
    <div class="mat-toolbar-back">
      <span class="app-menu-link" *ngIf="displayBackButton" (click)="goBack($event)">
        <mat-icon>arrow_back</mat-icon>
      </span>
    </div>
    <app-sub-header></app-sub-header>
  </mat-toolbar-row>

</mat-toolbar>
