<mat-nav-list>
  <video
    autoplay
    mat-card-image
    src="https://s3.eu-west-3.amazonaws.com/stream.roigle.com/nana_1656080876146%F0%9F%9B%91Nollywood_+Que+devient+Gloria+du+c%C3%A9l%C3%A8bre+film+Nig%C3%A9rian+_Blood+Sister_+_.mp4"
    id="video"
    ></video>

  <mat-icon (click)="claused()" class="delete"> cancel </mat-icon>
  <mat-icon (click)="muted()" *ngIf="isMute == false" class="volume"> volume_up </mat-icon>
  <mat-icon (click)="muted()" *ngIf="isMute == true" class="volume"> volume_off </mat-icon>

  <div class="title">
    <span class="serie">Série</span><br>
    <span>BLOOD SYSTER</span>
  </div>


  <div class="third">
    <app-button [name] = "'LECTURE'"  ></app-button>
    <mat-icon> thumb_up_alt </mat-icon>
    <mat-icon> thumb_down_alt </mat-icon>
    <mat-icon> add_circle </mat-icon>
  </div>

  <p>
    Orpheline de seize ans, Heidi est élevée par son grand-père Gustav dans un chalet isolé.
    Elle passe ses journées dans la montagne en compagnie de Pierre, son unique et meilleur ami.
    Elle fait ses études par correspondance.
    Mais Gustav pense qu'il est temps pour sa petite-fille d'aller au collège qui est situé en ville.
  </p>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <span mat-line>Google Hangouts</span>
    <span mat-line>Show to your coworkers</span>
  </a>
</mat-nav-list>
